body {
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase
}

.wrapper {
  height: 400px;
  width: 400px;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  /*background: lightgrey;*/
  overflow: hidden; 
}

.header {
  width: 380px;
  height: 80px;
  font-size: 4em;
  padding: 10px;
  background: #00695C;
  color: white;
  overflow: hidden;
  position: absolute;
  top: 0;
  z-index: 2;
}

.close-icon {
  position: absolute;
  top: 5;
  right: 5px;
  height: 32px;
  width: 32px;
  fill: #80CBC4;
}

.close-icon:hover {
  fill: white;
}

#first {
  position: absolute;
  padding: 10px;
  top: 80px;
}

#second {
  position: absolute;
  top: 230px;
  padding: 10px;
  animation-delay: 0.5s;
}

.content {
  width: 380px;
  height: 150px;
  color: white;
  background: #26A69A;
  z-index: 1;
  opacity: 0;
  animation: slide-down 0.5s linear forwards;
  transform-origin: left top
}

.content > p {
  font-size: 1.5em
}

.content:hover {
  color: #00695C
}

.content:hover .percent-bar > div {
  background: #00695C;
}

#percent-one {
  width: 100%;
}

#percent-two {
  width: 50%;
}

#loader-two {
  animation-delay: 0.5s
}

.percent-bar {
  height: 50px;
  background: #00695C;
}

.percent-loader {
  height: 100%;
  background: #80CBC4;
  animation: load-percent 0.5s linear forwards;
}

@keyframes slide-down {
  0% {
    transform: translateY(-150px)
  }
  1% {
    opacity: 1
  }
  100% {
    opacity: 1;
    transform: none
  }
}

@keyframes load-percent {
  from {
    width: 0%
  }
  to {
    width: 100%
  }
}