.wrapper {
  height: 400px;
  width: 400px;
  position: absolute;
  background: grey;
  overflow: hidden; 
  z-index: 10;
}

.header {
  width: 400px;
  height: 80px;
  font-size: 4em;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  background: blue;
  color: white;
  overflow: hidden;
  position: absolute;
  top: 0;
  z-index: 2;
}

#first {
  position: absolute;
  padding: 10px;
  top: 80px;
}

#second {
  position: absolute;
  top: 230px;
  padding: 10px;
  animation-delay: 0.5s;
}

.content {
  width: 380px;
  height: 150px;
  color: white;
  background: navy;
  z-index: 1;
  opacity: 0;
  animation: slide-down 0.5s linear forwards;
  transform-origin: left top
}

.content > p {
  font-size: 1.5em
}

.content:hover {
  color: grey
}

.content:hover .percent-bar > div {
  background: grey;
}

#percent-one {
  width: 100%;
}

#percent-two {
  width: 50%;
}

#loader-two {
  animation-delay: 0.5s
}

.percent-bar {
  height: 50px;
  background: darkred
}

.percent-loader {
  height: 100%;
  background: red;
  animation: load-percent 0.5s linear forwards;
}

@keyframes slide-down {
  0% {
    transform: translateY(-150px)
  }
  1% {
    opacity: 1
  }
  100% {
    opacity: 1;
    transform: none
  }
}

@keyframes load-percent {
  from {
    width: 0%
  }
  to {
    width: 100%
  }
}