			body {
				color: white;
        font-family: 'Open Sans', sans-serif;
        text-transform: uppercase
			}

			a:link {
				text-decoration: none
			}

			a:visited {
				color: white
			}

      .header {
        position: absolute;
        top: 0;
        left: 0;
        background: #00695C;
        height: 80px;
        width: 100%;
        z-index: 2;
      }

			.wrapper {
				position: absolute;
				margin-left: auto;
				margin-right: auto;
				margin-top: 100px;
				left: 0;
				right: 0;
        overflow: hidden;
				width: 800px;
        height: 300px;
				text-align: center;
        animation: show-wrapper 0.25s linear forwards;
			}

      .content {
        background: rgba(128,203,196, 1);
        position: absolute;
        top: 80px;
        width: 100%;
        height: 180px;
        padding-top: 20px;
        padding-bottom: 20px;
        opacity: 0;
        z-index: 1;
        animation: slide-down 0.5s linear forwards;
        animation-delay: 0.25s;
      }

			.input {
				height: 100px;
				width: 300px;
				font-size: 100px;
				text-align: center;
				background: #26A69A;
				border: 1px solid transparent;
				user-select: none;
				color: white;
			}

			.input:focus {
    		outline: none;
			}

			.text-copy--stroke {
				fill: transparent;
				stroke: white;
				stroke-width: 0.2;
				animation: fadeIn 1s ease
			}

			.r-fill {
				fill: white;
				transform-origin: 300px 150px;
				animation: slide 2s ease;
			}
/*
			@keyframes fadeIn {
				from {
					opacity: 0
				}
			}*/

			@keyframes slide {
				from {
					opacity: 0.75;
					transform: translate(-100%)
				}
				to {
					transform: none
				}
			}

			@keyframes show-wrapper {
				0% {
					opacity: 0;
					transform: scale(0.1)
				}
				10% {
					opacity: 1;
					transform: scale(0.5)
				}
				100% {
					transform: scale(1)
				}
			}

      @keyframes slide-down {
        0% {
          transform: translateY(-300px)
        }
        1% {
          opacity: 1
        }
        100% {
          opacity: 1;
          transform: none
        }
      }