			body {
        background: black;
				color: white;
				overflow: hidden;
				font-family: 'Lato', sans-serif;
			}


			a:link {
				text-decoration: none
			}

			a:visited {
				color: white
			}

			.landing-header {
				font-size: 72px;
			}

			.landing-content {
				position: absolute;
				margin-left: auto;
				margin-right: auto;
				margin-top: 100px;
				left: 0;
				right: 0;
				opacity: 1;
        background: rgba(2,10,122, 0.5);
        border: 1px solid white;
        padding-top: 100px;
        padding-bottom: 100px;
				width: 800px;
				z-index: 300;
				text-align: center;
			}

			.inputPersonality2 {
				height: 100px;
				width: 300px;
				font-size: 100px;
				text-align: center;
				background: none;
				border: 1px solid white;
				user-select: none;
				color: white;
				z-index: 100;
			}

			.inputPersonality2:focus {
    		outline: none;
			}

			.text-copy--stroke {
				fill: transparent;
				stroke: white;
				stroke-width: 0.2;
				animation: fadeIn 1s ease
			}

			.r-fill {
				fill: white;
				transform-origin: 300px 150px;
				animation: slide 2s ease;
			}

			@keyframes fadeIn {
				from {
					opacity: 0
				}
			}

			@keyframes slide {
				from {
					opacity: 0.75;
					transform: translate(-100%)
				}
				to {
					transform: none
				}
			}